.App {
  text-align: center;
  background-color: black;
  color: lightblue;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo{
  width: 100px;
  height: auto;
  pointer-events: none;
}


.rasengan{
  position: relative;
  z-index: 5;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




.game{
  background-color: black;
}

/* selectFighter.css */

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  background-color: #202020; 
} 

.phaser-text {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}

.phaser-sprite {
  cursor: pointer;
  transition: transform 0.2s;
}

.phaser-sprite:hover {
  transform: scale(1.1);
}

/* ... your existing styles ... */

/* Improve form appearance */
