.App {
  text-align: center;
  background-color: black;
  color: lightblue;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo{
  width: 100px;
  height: auto;
  pointer-events: none;
}

.bodyText{
  font-size: 2em;
  font-weight: bold;
  color: lightblue;
  text-shadow: 2px 2px 4px #faf8f8;
  position:absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
